name: Merge CI

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

permissions: write-all

jobs:
  build:
    runs-on: "ubuntu-latest"

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          ref: "master"
          token: ${{ secrets.GH_TOKEN_PUB }}
          fetch-depth: 0
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - name: Unit tests
        shell: bash
        run: sbt -Dsbt.log.noformat=true -v "; test;"
        env:
          NEXUS_USER: ${{ secrets.NEXUS_USER }}
          NEXUS_PASS: ${{ secrets.NEXUS_PASS }}
          NEXUS_REPO: ${{ secrets.NEXUS_REPO }}
      - name: Bump version and push tag
        id: bump_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GH_TOKEN_PUB }}
          fetch_all_tags: true
          default_bump: patch
          create_annotated_tag: true
          tag_prefix: ''
      - name: Publish
        shell: bash
        run: sbt -Dsbt.log.noformat=true -v "publish"
        env:
          DOCKER_TAG: ${{ steps.bump_version.outputs.new_tag }}
          NEXUS_USER: ${{ secrets.NEXUS_USER }}
          NEXUS_PASS: ${{ secrets.NEXUS_PASS }}
          NEXUS_REPO: ${{ secrets.NEXUS_REPO }}
