name: Merge CI

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

permissions: write-all

jobs:
  build:
    runs-on: "ubuntu-latest"

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          ref: "master"
          token: ${{ secrets.GH_TOKEN_PUB }}
          fetch-depth: 0
      - name: Unit tests
        shell: bash
        run: sbt -Dsbt.log.noformat=true -v "; test;"
        env:
          NEXUS_USER: ${{ secrets.NEXUS_USER }}
          NEXUS_PASS: ${{ secrets.NEXUS_PASS }}
          NEXUS_REPO: ${{ secrets.NEXUS_REPO }}
